

.item { padding: 40rpx 20rpx; background: #414E5A;
color: #FFFFFF;
margin: 20rpx 20rpx;
border-radius: 16rpx;
    .top { display: flex; font-weight: bold; font-size: 34rpx;
        .phone { margin-left: 60rpx; }
        .tag { display: flex; font-weight: normal; align-items: center;
            text { display: block; width: 60rpx; height: 34rpx; line-height: 34rpx; color: #ffffff; font-size: 20rpx; border-radius: 6rpx; text-align: center; margin-left: 30rpx; background-color: #02B9EE; }
            .red { background-color: #02B9EE; }
        }
    }
    .bottom { display: flex; margin-top: 20rpx; font-size: 28rpx; justify-content: space-between; color: #fff; }
}
